@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {

    --background: 0 0% 100%;

    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;

    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 222.2 84% 4.9%;

    --primary: 0 0% 0%;

    --primary-hover: 240 3% 18%;

    --secondary: 0 0% 25%;

    --secondary-hover: 0 0% 80%;

    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;

    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 163 47% 30%;

    --accent-hover: 163 47% 37%;

    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;

    --input: 214.3 31.8% 91.4%;

    --ring: 222.2 84% 4.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply font-primary bg-primary text-white;
  }

  .logo {
    @apply font-logo font-semibold text-white/70;
  }


  .gradient-top {
    @apply absolute left-0 right-0 top-0 w-full h-24 opacity-20;
    background: linear-gradient(180deg, #2d6c5a 0%, rgba(255, 255, 255, 0) 100%);
  }


  .gradient-bottom {
    @apply absolute left-0 right-0 bottom-0 w-full h-24 opacity-20;
    background: linear-gradient(0deg, #2d6c5a 0%, rgba(255, 255, 255, 0) 100%);
  }
}